*.o
*.png
*.xcf
*.pro.user*
*.autosave
test
Makefile

data
data/*
bin/
build
*.pyc
*.swp
.qmake.stash
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
install_manifest.txt
*.so
CMakeLists.txt.user
vvv3dnew.cbp
